body {
    -webkit-text-size-adjust: none;
    font-family: arial;
    font-size: 12px;
    line-height: 18px;
    background: #fff;
}

html {
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    outline: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    float: left;
    background: url(//publish.responsiveads.com/clients/WSJ/images/grid-transparent.png) no-repeat 2% 102%;
    background-size: 100% 26%;
    max-width: 960px;
    height: 768px;
}

.main {
    height: 582px;
}

.wraper {
    width: 100%;
    margin: 0 auto;
}

section {
    float: left;
    padding-top: 20px;
    width: 75%;
}

.top {
    float: left;
    font-size: 19px;
    margin-bottom: 56px;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

#drop img{
-webkit-transition:opacity .4s ease;
transition:opacity .2s ease;
}


.drag_drop {
    width: 100%;
    float: left;
    margin-bottom: 14px;
    position: relative;
    margin-left: 5px;
    min-height: 346px;
}

.drag_drop_area {
    margin: 0 auto;
    width: 94%;
}

.left-image {
    float: left;
    margin-top: 190px;
    position: relative;
    text-align: center;
    width: 26%;
}

.middle-image {
    border: 9px solid #ccc;
    border-radius: 800px;
    float: left;
    height: 223px;
    margin: 0;
    padding-top: 69px;
    text-align: center;
    width: 293px;
}

.right-image {
    float: left;
    margin-top: 184px;
    position: relative;
    text-align: center;
    width: 24%;
}

.left-third-image {
    clear: both;
    float: left;
    position: relative;
    width: 22%;
    text-align: center;
    margin-top: 40px;
    display: none;
}

.function {
    text-align: center;
	clear:both;
}

.function ul {
    display: inline-block;
}

.function ul li {
    background: #ccc;
    float: left;
    height: 25px;
    line-height: 25px;
    list-style: none;
    margin: 1px;
    padding: 0 7px 1px;
}

.function ul li.breadCrumb {
    padding: 1px 18px 0;
}

.function img {
    vertical-align: middle;
}

.function ul li a {
    color: #000;
}

aside {
    background: url(//publish.responsiveads.com/clients/WSJ/images/result-back.jpg) no-repeat top left #EDECEA;
    float: left;
    margin-top: 33px;
    padding: 0 20px;
    width: 20%;
    -webkit-overflow-scrolling: touch;
    background-size: 100% 100%;
}

.bottom-slant,.top-slant {
    width: 1px;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #EDECEA;
    margin-top: -2px;
    margin-left: -25px;
}

aside .previous {
    float: right;
    margin-top: 10px;
}

.previous_step {
    background: url(//publish.responsiveads.com/clients/WSJ/images/previousUp@2x.png) no-repeat 92%;
    padding: 5px;
    width: 100%;
    height: 22px;
    position: relative;
    background-size: 116%;
    margin-top: 11px;
    cursor: pointer;
    display: block;
    -webkit-transition: all .3s ease;
}

.results {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

.results b {
}

.results>a {
    background: #8b1a2d;
    color: #fff;
    float: left;
    font-size: 18px;
    padding: 13px 5px 11px;
    text-align: center;
    width: 100%;
    font-weight: lighter;
    font-family: helvetica;
}

.top-aside>p {
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 201px;
    white-space: nowrap;
}

.top-aside {
    float: left;
    width: 96%;
}

.details {
    float: left;
    width: 212px;
    height: 526px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    border-top: #c2c2c2 solid 1px;
}

.column {
    width: 100%;
    float: left;
    margin-bottom: 18px;
}

.description {
    float: left;
    background: #FFF;
    padding: 9px 90px 12px 8px;
    width: 95px;
    border-bottom: #c2c2c2 solid 2px;
    height: 49px;
}

.description p {
    color: #555;
    font-size: 11.6px;
    width: 171px;
}

.description h2 {
    color: #8b1a2d;
    font-size: 23px;
}

.expense {
    background: #CCC;
    padding: 3px 5px;
    position: relative;
    color: #555;
    float: right;
    right: 19px;
    border-left: #b8b8b8 solid 2px;
}

.successDiv {
    display: none;
    text-align: center;
    padding-bottom: 20px;
}

.arrow {
    background: url(//publish.responsiveads.com/clients/WSJ/images/arrow.png) no-repeat 49% 62%;
    width: 17px;
    height: 58px;
    position: relative;
    left: 174px;
    bottom: 0;
    background-size: 57%;
}

footer {
    height: 135px;
    width: 100%;
    float: left;
}

#obtain{
    
    position:relative;
    left: 192px;
    text-decoration: underline;
    font-size: 9px;
    bottom: 19px;
    width: 100px;
}
.obtainNew a{
    color:black;
    text-decoration:underline;
    
}
.obtainNew{
    font-size: 10.5px;
    position: relative;
    top: 411.5px;
    right: 151px;
    z-index: 99;
}
#obtain a {
    
    color:black !important;
}

#footerLeft {
    background: url(//publish.responsiveads.com/clients/WSJ/images/footer-left.png) no-repeat;
    height: 120px;
    width: 106%;
    background-size: 90%;
}

#footerRight {
    float: right;
    margin-top: 16px;
    margin-right: 11px;
}

#footerRight>a {
    float: right;
}

.message {
    display: none;
}

.message-container {
    background: url(//publish.responsiveads.com/clients/WSJ/images/grid-transparent.png) no-repeat scroll 2% 100% / 100% 29% transparent;
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 500px;
}

.message-container-img {
    position: absolute;
    bottom: 40px;
}

.message-container-img img {
    width: 90%;
    z-index: 1;
}

.success-img {
  float: left;
  text-align: center;
  width: 56%;
  padding: 0px;
  margin-left: 4px;
}

.success-text {
  float: left;
  width: 40%;
  margin-top: 60px;
}

.success-text > h2 {
  font-size: 22px;
  font-weight: normal;
  line-height: 26px;
  text-align: left;
}


@media (orientation:portrait) and (max-device-width:768px) {
    #footerRight,aside.nonbounce,section {
        display: none;
    }

    .message {
        display: block;
        font-size: 30px;
        margin-top: 400px;
        text-align: center;
        width: 100%;
        line-height: 36px;
    }

    .container {
        background: 0 0;
    
        z-index: 0;
}
}

